{% extends "base_dashboard.html" %}

{% load format %}

{% block title %}{{ algorithm }} Experimentation{% endblock %}

{% block dash_item_deep_learning %}
	{% if algorithm == "Deep Learning" %}active{% endif %}
{% endblock dash_item_deep_learning %}

{% block dash_item_data_mining %}
	{% if algorithm == "Data Mining" %}active{% endif %}
{% endblock dash_item_data_mining %}

{% block dash_item_machine_learning %}
	{% if algorithm == "Machine Learning" %}active{% endif %}
{% endblock dash_item_machine_learning %}

{% block content_dash %}
  	<section class="algorithm-page">
		<!-- <div class="breadcrumb">
			<a href="/" class="breadcrumb-link">/</a>
			<i class="fas fa-angle-right"></i>
			<a href={{parent}} class="breadcrumb-link">{{ algorithm }}</a>
			<i class="fas fa-angle-right"></i>
			<span class="breadcrumb-current">Experimentation</span>
		</div> -->
		<h1>{{ algorithm }} Experimentation</h1>
		<h2 class="experiment-header">Dataset Information</h2>
		<ul class="dataset-info">
			<li class="dataset-info-item"><strong>Database:</strong> {{ dataset.database }}</li>
			<li class="dataset-info-item"><strong>Start date:</strong> {{ dataset.start_date|date:"d F, Y" }}</li>
			<li class="dataset-info-item"><strong>End date:</strong> {{ dataset.end_date|date:"d F, Y" }}</li>
			<li class="dataset-info-item"><strong>Types selected:</strong>
				<ul>
					{% for item in dataset_types %}
						<li>{{item}}</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		<form action="#" method="post" class="experimentation-form">
            {% csrf_token %}
			<div class="algorithm-selection">
				<h2 class="experiment-header">Specific Algorithm</h2>
				<select class="algorithm-selector" name="select_algorithm" required>
					{% for item in specific_algorithms %}
						<option class="algorithm-selector-item" value="{{ item|space_underscore|lower }}">{{ item }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="description">
				<h2 class="experiment-header">Description</h2>
				<textarea rows="4" cols="50" name="description" placeholder="Add a description" class="description-textarea" required></textarea>
			</div>
            <button class="submit-btn" type="submit">Start Experiment!</button>
		</form>

  	</section>
{% endblock %}