{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <aside class="dashboard-nav">
        <div class="dash-logo">
            <a href="/" class="logo">SOTSIA</a>
        </div>
        <div class="dash-menu">
            <ul class="dash-menu-links">
                <li class="dash-menu-item">
                    <a href="#" class="dash-link">Testing</a>
                </li>
                <li class="dash-menu-item">
                    <a href="#" class="dash-link">Dataset</a>
                </li>
                <li class="dash-menu-item">
                    <a href="#" class="dash-link">Reports</a>
                </li>
                <li class="dash-menu-item">
                    <a href="#" class="dash-link">Deep Learning</a>
                </li>
                <li class="dash-menu-item">
                    <a href="#" class="dash-link">Machine Learning</a>
                </li>
                <li class="dash-menu-item">
                    <a href="#" class="dash-link">Data Mining</a>
                </li>
            </ul>
        </div>
        <div class="dash-sign-out">
            <a href="sign-out" class="dash-link">Sign out</a>
        </div>
    </aside>
    <main class="dashboard-content">
        <h1>This is a dashboard template</h1>
        {% block content_dash %}{% endblock %}
    </main>
{% endblock %}