{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <aside class="dashboard-nav">
            <div class="dash-logo">
                <a href="/" class="logo-link">SoTSIA</a>
            </div>
            <div class="dash-menu">
                <ul class="dash-menu-links">
                    <li class="dash-menu-item {% block dash_item_testing %}{% endblock dash_item_testing %}">
                        <a href="{% url 'testing' %}" class="dash-link">
                            <i class="fas fa-vial"></i>
                            Testing
                        </a>
                    </li>
                    <li class="dash-menu-item {% block dash_item_dataset %}{% endblock dash_item_dataset %}">
                        <a href="{% url 'dataset' %}" class="dash-link">
                            <i class="fas fa-database"></i>
                            Dataset
                        </a>
                    </li>
                    <li class="dash-menu-item {% block dash_item_reports %}{% endblock dash_item_reports %}">
                        <a href="#" class="dash-link">
                            <i class="fas fa-folder-open"></i>
                            Reports
                        </a>
                    </li>
                    <li class="dash-menu-item {% block dash_item_deep_learning %}{% endblock dash_item_deep_learning %}">
                        <a href="#" class="dash-link">
                            <i class="fas fa-square"></i>
                            Deep Learning
                        </a>
                    </li>
                    <li class="dash-menu-item {% block dash_item_machine_learning %}{% endblock dash_item_machine_learning %}">
                        <a href="#" class="dash-link">
                            <i class="fas fa-square"></i>
                            Machine Learning
                        </a>
                    </li>
                    <li class="dash-menu-item {% block dash_item_data_mining %}{% endblock dash_item_data_mining %}">
                        <a href="#" class="dash-link">
                            <i class="fas fa-square"></i>
                            Data Mining
                        </a>
                    </li>
                </ul>
                <div class="dash-sign-out">
                    <a href="{% url 'logout' %}" class="dash-link">
                        <i class="fas fa-sign-out-alt"></i>
                        Sign Out
                    </a>
                </div>
            </div>
        </aside>
        <main class="dashboard-content">
            {% block content_dash %}{% endblock %}
        </main>
    {% else %}
        <main class="dashboard-content">
            <h1>Error</h1>
            <p>You must <a href="{% url 'login' %}" class="dash-link">sign in</a> to be able to see the Testing Area</p>
        </main>
    {% endif %}
{% endblock %}