{% extends "registration/registration_base.html" %}

{% block title %}Sign In - SOTSIA{% endblock %}

{% block heading %}Sign In{% endblock %}

{% block content_sign_box %}
    <form class="sign-form" method="post">
        {% csrf_token %}
        <div class="sign-form-item">
            <span class="sign-form-label">Username</span>
            {{ form.username }}
        </div>
        <div class="sign-form-item">
            <span class="sign-form-label">Password</span>
            {{ form.password }}
        </div>
        <div class="sign-form-item">
            {{ form.errors }}
        </div>
        <div class="sign-form-submit">
            <button class="sign-in-btn" type="submit">Sign In</button>
            <div class="password-reset">
                <a href="{% url 'password_reset' %}" class="password-reset-link">Forgot Password?</a>
            </div>
        </div>
    </form>
{% endblock %}