{% extends "registration/registration_base.html" %}

{% block title %}Create New Password - SOTSIA{% endblock %}

{% block heading %}Create New Password{% endblock %}

{% block content_sign_box %}
    <form class="sign-form" method="post">
        {% csrf_token %}
        <div class="sign-form-item">
            <p class="sign-form-text">Please enter a new password.</p>
        </div>
        <div class="sign-form-item">
            <span class="sign-form-label">New Password</span>
            {{ form.new_password1 }}
        </div>
        <div class="sign-form-item">
            <span class="sign-form-label">Confirm Password</span>
            {{ form.new_password2 }}
        </div>
        <div class="sign-form-item">
            {{ form.errors }}
        </div>
        <div class="sign-form-submit">
            <button class="sign-in-btn" type="submit">Change Password</button>
        </div>
    </form>
{% endblock %}