{% extends "registration/registration_base.html" %}

{% block title %}Password Changed - SOTSIA{% endblock %}

{% block heading %}Password Changed{% endblock %}

{% block content_sign_box %}
    <div class="sign-form">
        <div class="sign-form-item">
            <p class="sign-form-text">Your new password has been set.</p>
            <p class="sign-form-text">You may <a href="{% url 'login' %}" class="password-reset-link">sign in now!</a></p>
        </div>
        <div class="sign-form-item">
            {{ form.errors }}
        </div>
    </div>
{% endblock %}